/* 
============================================
				Element styles
============================================
*/

footer {
	height: 64px;
	background-color: silver;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* 
============================================
				ID styles
============================================
*/
