/* 
============================================
				Element styles
============================================
*/

a {
	background: none;
	border: none;
	font-size: 24px;
	padding: 8px;
}

footer {
	height: 72px;
	background-color: silver;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

h3 {
	margin: 0;
}

/* 
============================================
				ID styles
============================================
*/

#links {
	margin: 8px 0 8px 0;
}
