@import './variables';

a {
	border: none;	
	margin: 0 8px 0 8px;
	padding: 2px 4px;
}

h2 {
	margin: 1px;
	font-size: 1.0rem;
	text-align: center;
}

h3, h4 {
	margin-top: 4px;
	text-align: center;
}

img {
	width: 100%;
}

section {
	border: 2px solid $primary-font-color;
	border-radius: 8px;
	margin: 8px;
	padding: 8px;
	max-width: 400px;
}


.links {
	text-align: center;
	font-size: 20px;
}

.project-link, .contact-link {
	background-color: $secondary-font-color;
	color: $secondary-background-color;
	text-decoration: none;
}
