@import './variables';

a, button {
	border: none;	
	margin: 0 8px 0 8px;
	padding: 2px 4px;
}

button {
	border: none;
	font-family: $primary-font-family;
	font-size: 18px;
	margin: 4px 0 4px 0;
}

h2 {
	margin: 2px;
	font-size: 1.0rem;
	text-align: center;
}

h3, h4 {
	margin-top: 4px;
	text-align: center;
}

img {
	width: 100%;
}


section {
	background-color: $secondary-background-color;
	border: 2px solid $primary-font-color;
	border-radius: 8px;
	margin: 8px auto 8px auto;
	padding: 8px;
	height: calc(100% - 20px);
	max-width: 400px;
}

.details {
	margin: 8px 20px 8px 20px;
	position: relative;
	z-index: -100;
}

.links {
	text-align: center;
	font-size: 20px;
}

button, .project-link, .contact-link {
	background-color: $secondary-font-color;
	color: $secondary-background-color;
	text-decoration: none;
}
