@import './variables';

/* You can add global styles to this file, and also import other style files */
body {
	background-color: $secondary-background-color;
	margin: 0;
	font-family: $primary-font-family;
}

h1, h2, h3 {
	color: $primary-font-color;
}

/* Focus styles */
*:focus {
	outline: none;
	border: 10px solid blue;
	box-shadow: 0 0 10px blue;
	transition: ease-in-out 0.2s;
}
