@import './variables';

body {
	background-color: $secondary-background-color;
	margin: 0;
	font-family: $primary-font-family;
}

h1, h2, h3 {
	color: $primary-font-color;
}

/* Focus styles */
*:focus {
	outline: none;
	border: 10px solid blue;
	box-shadow: 0 0 10px blue;
	transition: ease-in-out 0.2s;
}

a, a:visited {
	color: $secondary-font-color;
}

picture img {
	max-width: 100%;
	background-image: url('../assets/img/dist/loading.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#welcome-banner {
	margin: auto;
}

#welcome-banner-container {
	align-content: center;
}

#welcome-banner img {
	max-width: 848px;
	width: 100%;
}

#welcome-banner-background img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	width: 100%;
	max-height: 1132px;
}

@media screen and (min-width: 848px) {
	#welcome-banner, #welcome-banner-background {
		display: block;
	}

	#welcome-banner-background {
		width: 100%;
	}

}
