$primary-font-color: #300450;
$secondary-font-color: #6a289a;
$primary-background-color: silver;
$secondary-background-color: #f1f1f1;
$card-background-color: white;
$primary-font-family: 'Ubuntu', Geneva, sans-serif;
