<article>
	<h3>{{project.title}}</h3>
	<img *ngIf=project.icon src={{project.icon}} alt="{{project.title}} Logo"
	class="icon">
	<img *ngIf=project.img src={{project.img}} alt={{project.alt}}>
	<h2 *ngFor="let sub of project.subtitles">{{sub}}</h2>
	<p *ngIf=project.description>{{project.description}}</p>
	<div class="links">
		<a *ngIf=project.link href={{project.link}}
		target="_blank"
		class="project-link"
		rel="noopener">Visit</a>
		<a *ngIf=project.github href={{project.github}}
		target="_blank"
		rel="noopener">
			<fa-icon [icon]="faGithub"></fa-icon>
		</a>
	</div>
	<div class="detailsButton">
		<button *ngIf=project.details (click)=toggleDetails()>{{viewMoreText}}</button>
	</div>
</article>
<div [hidden]="!detailsVisible" *ngIf=project.details
[@slideInOut]="detailsState"
(@slideInOut.start)="animationStart($event)"
(@slideInOut.done)="animationDone($event)"	
class="cardDetails">
	<p *ngFor="let p of project.details"
	class="details">
		{{p}}
	</p>
</div>
