/* 
============================================
				Element styles
============================================
*/
h1, h2 {
	padding: 4px;
	width: 100%;
}

h2 {
	font-size: 1.2rem;
}

/* 
============================================
				Class styles
============================================
*/
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
