<app-custom-header></app-custom-header>
<app-hamburger-nav></app-hamburger-nav>
<app-picture [sources]="[{'srcset': '../assets/img/me.webp', 'type': 'image/webp'}]"
			img="../assets/img/me.jpg"
			alt="Hi, I'm Josh. I make stuff.">
</app-picture>

<section>
	<a name="#AboutMe"></a>
	<h1>About Me</h1>
	<app-project-card [project]=stonyBrookCard></app-project-card>
	<app-project-card [project]=growWithGoogleCard></app-project-card>
	<app-project-card [project]=MWSCard></app-project-card>
</section>
<section class="cards">
	<a name="#Projects"></a>
	<h1>Projects</h1>
	<div *ngFor="let project of projects">
		<app-project-card [project]=project></app-project-card>
	</div>
</section>
<section>
	<a name="#ContactMe"></a>
	<h1>Contact Me</h1>
	<div *ngFor="let card of contactCards">
		<app-contact-card [card]=card></app-contact-card>
	</div>
</section>

<app-footer></app-footer>
