/* 
============================================
				Element styles
============================================
*/
h1 {
	padding: 4px;
}

/* 
============================================
				Class styles
============================================
*/
.cards {
	display: flex;
	flex-wrap: wrap;
}
