<app-custom-header></app-custom-header>
<app-hamburger-nav></app-hamburger-nav>
<div id="welcome-banner-container"><app-picture [sources]="[{'srcset': '../assets/img/dist/me.webp', 'type': 'image/webp'}]"
			img="../assets/img/dist/me.jpg"
			alt="Hi, I'm Josh. I make cool stuff."
			id="welcome-banner">
</app-picture></div>
<app-picture [sources]="[{'srcset': '../assets/img/dist/small/me.webp', 'type': 'image/webp'}]"
	img="../assets/img/dist/small/me.jpg"
	alt="Hi, I'm Josh. I make cool stuff."
	id="welcome-banner-background">
</app-picture>

<section id="about-me-section">
	<a name="#AboutMe"></a>
	<h1>About Me</h1>
	<h2>Education and Awards</h2>
	<div *ngFor="let project of education" class="education-card">
		<app-project-card [project]=project></app-project-card>
	</div>
	<h2>Work Experience</h2>
	<div *ngFor="let project of work" class="work-card">
		<app-project-card [project]=project></app-project-card>
	</div>
</section>
<section id="project-section">
	<a name="#Projects"></a>
	<h1>Projects</h1>
	<div *ngFor="let project of projects" class="project-card">
		<app-project-card [project]=project></app-project-card>
	</div>
</section>
<section id="technology-section">
	<a name="#Tech"></a>
	<h1>Technologies</h1>
	<div *ngFor="let tech of technologies" class="tech-card">
		<app-project-card [project]=tech></app-project-card>
	</div>
</section>
<section id="contact-section">
	<a name="#ContactMe"></a>
	<h1>Contact Me</h1>
	<div *ngFor="let card of contactCards" class="contact-card">
		<app-contact-card [card]=card></app-contact-card>
	</div>
</section>

<app-footer></app-footer>
