@import '../../sass/variables';

/* 
============================================
				Element styles
============================================
*/

button {
	min-height: 32px;
	min-width: 32px;
}

header {
	height: 64px;
	background-color: silver;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

/* 
============================================
				ID styles
============================================
*/
#header-hamburger {
	float: right;
	margin: 16px;
	font-size: 16px;
	color: $primary-font-color;
	background: gainsboro;
	border: 2px solid $primary-font-color;
	border-radius: 8px;
}

#logo {
	float: left;
	margin: 13px 0px 14px 8px;
	font-size: 32px;
}
