/* 
============================================
				Element styles
============================================
*/

button {
	min-height: 32px;
	min-width: 32px;
}

header {
	height: 64px;
	background-color: silver;
}

/* 
============================================
				ID styles
============================================
*/
#header-hamburger {
	float: right;
	margin: 16px;
	font-size: 16px;
	color: #1e3333;
	background: gainsboro;
	border: 2px solid #1e3333;
	border-radius: 8px;
}

#logo {
	float: left;
	margin: 13px 0px 14px 8px;
	font-size: 32px;
	font-family: 'Ubuntu', Geneva, sans-serif;
}
